{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- 임교님 코드 추가-->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SK Telink Security Potal</title>

    <style> div { text-align: center; } </style>
    <!-- 임교님 코드 종료-->
</head>


<body>

{% include "security_portal/navbar_ik.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>

<!-- 임교님 코드 추가-->
<!-- Bootstrap core JS-->
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<!-- Core theme JS-->
<script src="{% static 'scripts.js' %}"></script>
<!-- Footer-->
<footer class="py-3 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ICT Security Team</p></div>
</footer>
<!-- 임교님 코드 종료-->

<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->



</body>
</html>